/* Layout.css */
.content-padding {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
  }
  
.content-grandfather{
  background-color: transparent;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.rsc-container{
  font-family: 'Signika', sans-serif !important;
}

