:root {
    --color_primary: #e83c4c;
    --color_secondary: #78b42c;
    --color_header_background: white; /* Define tu color primario aquí */
    --color_header_font : #666666;
    --color_footer_background: #e83c4c;
    --color_footer_font : white;
}
