/* Footer.css */
@import '../variables.scss';

.footer {
    background-color: var(--primary); /* Fondo oscuro por defecto */
    color: var(--color_footer_font, #ffffff); /* Texto blanco por defecto */
    padding: 0px 0; /* Espaciado vertical */
    text-align: center; /* Centrar el texto */
    font-size: 0.6rem;
    align-items: end;
    box-shadow: 0 -8px 12px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 10;
  }
  
  .footer-section {
    border-left: 1px solid var(--background); /* Línea vertical separadora */
    padding: 0 50px;
    display: flex;
    flex-direction: column; /* Asegura que los elementos hijos se apilen verticalmente */
    align-items: center; /* Centrar elementos verticalmente */
    justify-content: center; /* Centrar elementos horizontalmente */
  }
  
  .footer-section:first-child {
    border-left: none; /* Quitar borde del primer elemento */
  }
  
  .footer-image {
    max-height: 120px; /* Asegurar que la imagen no se desborde */
    margin-bottom: 10px; /* Espacio debajo de la imagen */
  }
  
  .footer-paragraph {
    display: flex;
    flex-direction: row;
    justify-content: left; /* Centrar horizontalmente */
    margin-bottom: 10px; /* Espacio entre los párrafos */
  }
  
  .paragraph {
    padding-left: 35px;
    display: flex;
    justify-content: center;
  }
  
  .footer-icon {
    width: 20px;
    height: 20px;
    padding-right: 10px; /* Espacio entre el ícono y el texto */
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar elementos horizontalmente */
  }
  
  .footer-list li {
    margin-bottom: 10px; /* Espacio entre los elementos de la lista */
  }
  
  .footer-list a {
    color: var(--white); /* Color de los enlaces */
    text-decoration: none; /* Sin subrayado */
  }
  
  .footer-list a:hover {
    text-decoration: underline; /* Subrayado al pasar el cursor */
  }
  
  .footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Espaciar los íconos horizontalmente */
    margin-top: 10px; /* Espacio encima de los íconos */
    width: 45%;
  }
  
  .svg-icon {
    min-height: 15px;
    max-height: 15px;
    width: auto;
  }

  @media (max-width: 768px) {
    .content{
      display: flex;
      flex-direction: column;
    }

    .footer-section {
      padding-top: 5%;
      border-bottom: 1px solid var(--background);
      border-left: 0px solid var(--background); /* Línea vertical separadora */
    }

    .no-border{
      border-bottom: 0px solid var(--background);
    }
  }