@import '../../components/variables.scss';

.separator {
    border: none;
    border-top: 5px solid rgba(0, 0, 0, 0.2); /* Aumentar el grosor de la línea a 2px */
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
  }
  
.title-section{
    font-weight: bold;
    color: var(--primary) ;
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    margin-bottom: 30px;
}

.tomo-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 85%; /* Ancho del 90% del contenedor padre */
    margin: 0 auto; /* Centra el carrusel horizontalmente */
    justify-content: space-between;
    text-align: justify;
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.ejercicio-container{
    border: 2px solid var(--secondary);
    border-radius: 15px;
    padding: 0;
    width: 85%;
    margin: 0 auto;
    height: 45px;
    overflow: hidden;
    transition: transform 0.5s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
    margin-bottom: 20px;
}

  .ejercicio-container.expanded {
    height: auto;
  }

  .ejercicio-container.expanded .ejercicio-titulo-container svg{
    transition: transform 0.5s;
    transform: rotate(-180deg);
}

.ejercicio-titulo-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary);
    width: 100%;
    height: 45px;
    border: 0px;
    border-radius: 10px;
    color: white;
    font-size: 1.25rem;
    text-align: left;
    padding-left: 40px;
}

.ejercicio-titulo-container svg{
    width: 30px;
    margin-top: 0px;
}

.ejercicio-titulo-container p{
    margin-bottom: 0;
}

.ejercicio-list{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    width: 100%;
    height: auto;
}

.ejercicio-list a{
    color: var(--secondary-text);
}

.ejercicio-list li{
    margin-top: 5px;
    margin-bottom: 5px;
}


 @media (max-width: 768px) {
    
 }