/* Header.css */
@import '../variables.scss';

/* .navbar-custom {
  background-color: var(--color_header_background); 
  color:  var(--color_header_font);   
  box-shadow: 0 10px 12px rgba(0,0,0,0.1); 
} */

.navbar-custom {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1025 !important; /* Asegura que el header esté sobre otros elementos */
  background-color: var(--background);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}


.navbar-custom .navbar-brand,
.navbar-custom .nav-link,
.navbar-custom .nav-dropdown {
  color: var(--secondary-text); /* Asegura que el texto de los enlaces también sea gris */
}

.navbar-brand img {
  height: 75px;
  display: flex;
  align-items: center;  /* Ajusta la altura según tus necesidades */
  width: auto;  /* Mantiene la proporción de la imagen */
}

.navbar-custom .nav-link,
.navbar-custom .dropdown-item {
  font-size: 1.1rem;  /* Ajusta el tamaño según tus necesidades */
  margin-right: 15px;  /* Espacio entre los enlaces */
  font-weight: bold;
}

.navbar-custom .nav-link + .nav-link,
.navbar-custom .nav-link + .dropdown,
.navbar-custom .dropdown + .nav-link,
.navbar-custom .dropdown + .dropdown {
  margin-left: 40px; /* Espacio entre los enlaces y el dropdown */
}

.ms-auto {
  padding-right: 60px;
}

.logo_header {
  padding-left: 60px;
}

.dropdown-item {
  color: var(--primary); /* Cambiar el color del texto para asegurar que sea visible */
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--secondary-text);
}

/* Cambiar el color de fondo del elemento del menú desplegable cuando se pasa el cursor por encima */
.dropdown-item:hover {
  background-color: var(--secondary); /* Color de fondo cuando se pasa el cursor */
  color: var(--background); /* Cambiar el color del texto para asegurar que sea visible */ 
}

.dropdown-item {
  display: flex;
  color: var(--secondary-text);
  justify-content: right;
}

.navbar-custom .nav-dropdown .dropdown-menu {
  transform: translateX(-50px); /* Mueve el menú desplegable 50px hacia la izquierda */
}

.dropdown-menu {
  border: 0;
  border-radius: 0;
}



::after {
  color: var(--secondary);
}

/* Estilos para el dropdown activo */
.navbar-nav-scroll.active-dropdown > .nav-link {
  border-top: 4px solid var(--secondary); /* Cambia var(--color_secondary) por el color que desees */
}

@media (max-width: 768px) {
  .ms-auto {
    padding-right: 0px;
  }
  .navbar-custom .nav-link + .nav-link,
  .navbar-custom .nav-link + .dropdown,
  .navbar-custom .dropdown + .nav-link,
  .navbar-custom .dropdown + .dropdown {
    margin-left: 0px; /* Espacio entre los enlaces y el dropdown */
  }
  .collapse {
    display: flex;
    justify-self: right;
    margin-left: 20px;
  }

  .navbar-custom .nav-link, .navbar-custom .nav-dropdown {
    color: var(--secondary-text);
    display: flex;
    justify-content: right;
    align-items: center;
  }

  .logo_header {
    padding-left: 30px;
  }


  /* .navbar-nav-scroll.active-dropdown > .nav-link {
    display: flex;
    justify-content: right;
    align-items: center;
  } */

  
}