/* Decreto.css */
@import '../../../components/variables.scss';

.separator {
    border: none;
    border-top: 5px solid rgba(0, 0, 0, 0.2); /* Aumentar el grosor de la línea a 2px */
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
  }

.title-section{
    font-weight: bold;
    color: var(--primary) ;
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
    margin-bottom: 30px;
}

.subtitle-section{
    font-weight: bold;
    color: var(--primary) ;
    display: flex;
    justify-content: left;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.personajes-child{
    margin-top: 30px;
    margin-left: 15%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.personajes-content{
    margin-bottom: 45px;
}